@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/stylesheet/homepage.css" rel="stylesheet" />
<section class="hero">
    <h1>Welcome to the PC Store</h1>
    <p>High-performance computers, laptops just for you.</p>
    <a href="http://localhost:5036/Guest/GetCatalog/" class="btn">
        ComputerCatalog
    </a>

</section>
